<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand font-weight-bold" href="#">Rúben DSM</a>
        <div class="collapse navbar-collapse d-flex justify-content-xl-end justify-content-lg-end justify-content-center" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">Página Inicial </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Sobre Mim</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Trabalhos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/posts">Blog</a>
            </li>
          </ul>
        </div>
    </div>
</nav>
